body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cornsilk;
}

.container{
    position: relative;
    width: 350px;
    height: 640px;
    background: rgba(0, 0, 0, 1);
    margin-top: 150px;
    transform: rotate(-30deg) skew(25deg) scale(.8);
    transition: 0.5s;
}

.container img{
    position: absolute;
    width: 100%; /*Não sabia que dava pra redimensionar assim... locura!*/
    height: 100%;
    transition: 0.5s;
    border: 10px solid #000;
    
}

/* eis que vem a sacada, camadas por transparência decrescente*/

.container:hover img:nth-child(4){
    transform: translate(160px,-160px);
    opacity: 1;
    
}

.container:hover img:nth-child(3){
    transform: translate(120px,-120px);
    opacity: .5;
    
}

.container:hover img:nth-child(2){
    transform: translate(80px,-80px);
    opacity: .25;
    
}

.container:hover img:nth-child(1){
    transform: translate(40px,-40px);
    opacity: .125;
    
}